.end-screen {
  height: 100%;
  width: 100%;
  &#lose-screen {
    background-color: #ffff0b;
  }
  &#win-screen {
    background-color: #ffffff;
  }
  z-index: 100;
  display: none;

  &.visible {
    display: flex;
    flex-direction: column;
  }

  .title {
    font-size: 5vh;
  }
}
