.end-screen {
  height: 100%;
  width: 100%;
  background-color: #ffff0b;
  z-index: 100;
  display: none;

  &.visible {
    display: flex;
    flex-direction: column;
  }

  .title {
    font-size: 5vh;
  }
}
