.game-lobby {
  height: 100%;
  width: 100%;
  background-color: #cfcfcf;
  z-index: 100;
  display: none;

  &.visible {
    display: flex;
    flex-direction: column;
  }

  .title {
    font-size: 5vh;
  }

  #game-lobby-list {
    display: flex;
  }
}
