.games-lobby {
  height: 100%;
  width: 100%;
  background-color: #3deb48;
  z-index: 100;
  display: none;

  &.visible {
    display: flex;
    flex-direction: column;
  }

  .title {
    font-size: 5vh;
  }

  #games-lobby-list {
    flex-grow: 1;
  }

  #games-lobby-no-games {
    display: none;
    &.visible {
      font-size: 3vh;
      display: flex;
      flex-direction: column;
    }
  }

  #games-lobby-cancel-button {
    margin-top: 2vh;
  }
}
