.games-lobby {
  height: 100%;
  width: 100%;
  background-color: #0bffff;
  z-index: 100;
  display: none;

  &.visible {
    display: flex;
    flex-direction: column;
  }

  .title {
    font-size: 5vh;
  }

  #games-lobby-no-games {
    display: none;
    &.visible {
      display: flex;
    }
  }

  #games-lobby-cancel-button {
    margin-top: 2vh;
  }
}
