.start-screen {
  height: 100%;
  width: 100%;
  background-color: tomato;
  z-index: 100;
  display: none;
  padding: 2vh;

  &.visible {
    display: flex;
    flex-direction: column-reverse;
  }
}
