.waiting-room {
  height: 100%;
  width: 100%;
  background-color: #cfcfcf;
  z-index: 100;
  display: none;

  &.visible {
    display: flex;
    flex-direction: column;
  }

  .title {
    font-size: 5vh;
  }

  #waiting-room-list {
    display: flex;
    flex-direction: column;
  }

  #start-game {
    margin-top: 2vh;
    font-size: 5vh;
  }

  .player-list-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3vw;
    position: relative;

    .save-button {
      margin-left: 2vw;
      font-size: 5vw;
    }

    .character-change-chevron {
      color: white;
      position: absolute;
      left: 8vw;
      font-size: 6vw;
    }

    .character-change-icon {
      width: 12vw;
      margin-right: 2vw;
      border-radius: 4px;
    }
  }

  #waiting-room-cancel-button {
    margin-top: 2vh;
  }
}
